input{
    padding:5px;
    border:1px solid #ccc;
    outline: 0;
    margin-right: 5px;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    text-align: center;
}

button{
    padding:5px;
    border:1px solid #ccc;
    outline: 0;
    margin-left: 5px;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    text-align: center;
    
    
}   